@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    text-align: center; 
    color: #f6f6f6;
    font-family: "Roboto", sans-serif;
}

h2{
    font-style: italic;
    height: 200;
}

.busca-e-selecoes{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#buscaNome{
    align-items: center;
}

h3{
    text-shadow: 0.1em 0.1em #333
}

