@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    text-align: center; 
    color: #f6f6f6;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-style: italic;
    height: 200;
}

#capas {
    margin-top: 24px;
}

.busca-e-selecoes {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#buscaNome {
    align-items: center;
}

h3 {
    text-shadow: 0.1em 0.1em #333
}

/* estilizando */
.movie {
    display: inline-block;
    width: 33.33%;
}

#data-movie {
    width: 80vw;
    height: 70vh;
    background-color: #191818c9;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
    #data-movie {
        height: 10px !important;
    }
}


.close-btn-wrapper {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 5px;
}

.close-button {
    color: white;
    font-size: 24px;
}

.movie-wrapper {
    display: flex;
    padding: 15px;
}

.movie-infos {
    padding-left: 24px;
    text-align: left;
    background-color: #19181896;
    padding-right: 24px;
    font-size: 19px;
}

.movie-resume {
    text-align: justify;
}

.hide-data {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

@media (max-width: 912px) {
    .main-title {
        margin-bottom: 0;
    }
    .sub-title {
        font-size: 1.2rem;
        margin-top: 14px;
    }

    .movie {
        padding-left: 4px;
        padding-right: 4px;
        width: 33.33%;
        box-sizing: border-box;
    }
    
    .movie img {
        max-width: 100%;
        height: auto;
    }

    .busca-e-selecoes {
        justify-content: start;
    }

    .busca-e-selecoes h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .busca-e-selecoes .busca-tema {
        margin-top: 14px;
    }

    #buscaNome {
        margin-left: 10px;
    }
}